@import url("nullstyle.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

[class*="__conteiner"] {
   max-width: 1240px;
   margin: 0 auto;
   font-family: "Poppins";
   padding: 0 15px;
}

.navigate {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 37px 0;
}

.logo {
   display: inline-block;
   font-weight: 700;
   font-size: 18px;
   line-height: 138.888889%; /* 25/18 */
   color: #495057;
}

.logo span {
   color: #ddbea9;
}

.list-menu {
   display: inline-flex;
   flex-wrap: wrap;
   align-items: center;
   font-weight: 500;
   line-height: 100.333333%; /* 25/12 */
   color: rgba(73, 80, 87, 0.5);
}

.list-menu_sicial {
   border-right: 1px solid #e5e5e5;
}

.menu-item {
   padding-right: 25px;
   font-size: 12px;
}

.menu-item:hover {
   color: #495057;
}

.menu-item_header:hover::after {
   content: "";
   height: 2px;
   width: 100%;
   background: #ddbea9;
   display: block;
}

.list-menu_design-menu:last-child {
   padding-right: 0;
}

/*!  Slider > */
.slider__body {
   background: url(../img/slider-img.webp) center no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 500px;
   border-radius: 5px;
}

.slider__block-text {
}

.slider__sub-title {
   font-weight: 300;
   line-height: 20px;
   color: #e5e5e5;
}

.slider__title {
   font-weight: 700;
   font-size: 25px;
   line-height: 160%; /* 40/25 */
   color: #f8f9fa;
}

.design-block__header {
   padding: 100px 0 0 0;
}

.block-header {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 100px 0 45px 0;
}

.block-header__title {
   font-weight: 700;
   font-size: 25px;
   line-height: 160%; /* 40/25 */
   color: #212529;
   max-width: 393px;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   gap: 35px;
}
.card {
   max-width: 380px;
}
.card__img {
   margin-bottom: 30px;
}
.card__img img {
   width: 100%;
   border-radius: 3px;
}
.card__data {
   font-weight: 300;
   font-size: 12px;
   line-height: 166.666667%; /* 20/12 */
   color: #495057;
   margin-bottom: 15px;
}
.card__data_trending {
   color: #e5e5e5;
}
.card__text {
   font-weight: 500;
   font-size: 16px;
   line-height: 156.25%; /* 25/16 */
   color: #212529;
}
.card__text_trending {
   color: #f8f9fa;
}
.card_trending {
   background: url(../img/trending-img-1.webp) center / cover;
   min-height: 450px;
   padding: 315px 50px 0;
}

footer {
   background: #212529;
   margin-top: 100px;
}
.navigate_footer-block {
   border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.logo_white {
   color: #f8f9fa;
}
.list-menu_white {
   color: rgba(248, 249, 250, 0.5);
}
.avtor {
   color: rgba(248, 249, 250, 0.5);
   font-size: 12px;
}
.avtor-date {
   color: rgba(248, 249, 250, 0.5);
   font-size: 12px;
}
